Open file

In [35]:
with open ("sample.txt", "r") as sample:
    content = sample.readlines()
    content2 = sample.read()

In [36]:
sample.mode

'r'

In [37]:
sample.name

'sample.txt'

In [38]:
print(content)
print(content2)

['1918\n', '1939\n', '1945\n', '1989\n', '1999\n', '2004']

In [33]:
content[2]

'1945\n'

Save file

In [45]:
with open ("sample.txt", "a") as sample:
    sample.write("\n2020")

In [46]:
with open ("sample.txt", "r") as sample:
    print(sample.read())

1918
1939
1945
1989
1999
20042020
2020
2020

Pandas

In [53]:
import pandas as pd

csv_path = "airtravel.csv"
df = pd.read_csv(csv_path)

In [54]:
df.head()

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472

In [55]:
history_dates = {"Event":["Bolshevik War","September Campaign","Warsaw Uprasing"],"Date":[1920,1939,1944],"Result":["Won","Lost","Lost"]}

In [56]:
df = pd.DataFrame(history_dates)

In [58]:
df.head()

                Event  Date Result
0       Bolshevik War  1920    Won
1  September Campaign  1939   Lost
2     Warsaw Uprasing  1944   Lost

In [59]:
df.loc[1,"Result"]

'Lost'

In [60]:
df.iloc[1,1]

1939

In [61]:
df.loc[1:2,"Date":"Result"]

   Date Result
1  1939   Lost
2  1944   Lost